<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ovchip2</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">sand66</property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.transaction.jta.platform">null</property>


        <mapping class="nl.hu.ovchip.domain.Reiziger"/>
        <mapping class="nl.hu.ovchip.domain.Adres"/>
    </session-factory>
</hibernate-configuration>